body{
}

#content{
    padding: 0px 50px;
}

.error{
    color: orange;
    padding-left: 2px;
}

.main-menu {
    margin: 30px 0px;
    padding: 10px;
    background-color: #999966;
}
.main-menu-links {
    padding: 20px;
    font-size: 1.5em;
    font-weight: 800;
}

.main-menu-links a{
    color: white;
}

#footer{
    text-align:center;
  }

#footer p{
   background-color: #999966;
    color: white;
    padding: 2px;
}